<div class="w-full bg-quinquenary px-4 py-24 flex justify-center items-center">
  <div class="w-[755px] p-4 flex flex-col justify-center">
    <div class="relative inline-block m-auto text-center mb-24">
      <div class="relative text-6xl font-semibold text-primary">Sobre mi</div>
      <div
        class="title-bar relative top-2.5 left-2.5 h-[5px] rounded-lg bg-tertiary before:absolute before:w-[40%] before:left-[30%] before:h-full before:rounded-lg before:bg-quaternary"></div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center">
      <img
        class="w-40 h-60 pb-4 md:pb-0 rounded-3xl object-cover object-left"
        [ngSrc]="fotoPath"
        width="160"
        height="240"
        alt="Foto de Raquel Cabanyes en lago"
        priority />

      <div class="ml-0 md:ml-8 text-primary">
        Soy programadora frontend con 7 años de experiencia en la creación de
        aplicaciones web modernas y dinámicas. Durante mi trayectoria
        profesional, he tenido la oportunidad de trabajar con diversas
        tecnologías, como Polymer, LitElement y Angular, lo que me ha permitido
        desarrollar interfaces de usuario atractivas y funcionales. He
        participado en proyectos tanto de manera independiente como en
        colaboración con equipos, lo que ha fortalecido mis habilidades en el
        trabajo en equipo. Me dedico a aprender continuamente y a adquirir
        nuevas competencias para adaptarme a las demandas actuales y futuras del
        diseño y desarrollo de aplicaciones web.
      </div>
    </div>
  </div>
</div>
