<div
  #container
  class="w-full bg-quinquenary px-4 py-24 flex justify-center items-center">
  <div class="w-[755px] p-4 flex flex-col justify-center">
    <div class="relative inline-block m-auto text-center mb-12">
      <div class="relative text-6xl font-semibold text-primary">Formación</div>
      <div
        class="title-bar relative top-2.5 left-2.5 h-[5px] rounded-lg bg-tertiary before:absolute before:w-[40%] before:left-[30%] before:h-full before:rounded-lg before:bg-quaternary"></div>
    </div>

    <div class="w-full flex flex-col pt-6 text-primary">
      <!-- TODO component -->
      <div class="animated-element pt-4 flex items-end">
        <img [src]="iconVue" class="w-6 h-6 mr-2" alt="Icono de Vue" />
        Vue 3&nbsp;<span class="text-xs">(2023)</span>
      </div>

      <div class="animated-element pt-3 ml-8">
        Angular Universal&nbsp;<span class="text-xs">(2022)</span>
      </div>

      <div class="animated-element pt-3 ml-8">
        Patrones de diseño en Javascript y Node.JS &nbsp;<span class="text-xs"
          >(2022)</span
        >
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconCSS" class="w-6 h-6 mr-2" alt="Icono de CSS" />
        Curso CSS Profesional&nbsp;<span class="text-xs">(2022)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconNgRx" class="w-6 h-6 mr-2" alt="Icono de NgRx" />
        Curso NgRx&nbsp;<span class="text-xs">(2021)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconLit" class="w-6 h-6 mr-2" alt="Icono de LitElement" />
        Curso LitElement&nbsp;<span class="text-xs">(2020)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconAngular" class="w-6 h-6 mr-2" alt="Icono de Angular" />
        Curso Angular 10&nbsp;<span class="text-xs">(2019)</span>
      </div>

      <div class="animated-element pt-3 ml-8">
        Curso de Scrum Master&nbsp;<span class="text-xs">(2018)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconJest" class="w-6 h-6 mr-2" alt="Icono de Jest" />
        Curso de Testing Jest&nbsp;<span class="text-xs">(2018)</span>
      </div>

      <div class="animated-element pt-3 ml-8">
        Curso introducción a Cells&nbsp;<span class="text-xs">(2018)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconReact" class="w-6 h-6 mr-2" alt="Icono de React" />
        Curso de ReactJS&nbsp;<span class="text-xs">(2018)</span>
      </div>

      <div class="animated-element pt-3 flex items-end">
        <img [src]="iconPolymer" class="w-6 h-6 mr-2" alt="Icono de Polymer" />
        Curso de Polymer&nbsp;<span class="text-xs">(2017)</span>
      </div>
    </div>
  </div>
</div>
