<header class="flex justify-between items-center p-6">
  <div class="font-semibold text-xl text-white">Raquel Cabanyes</div>
  <ul class="hidden lg:flex font-semibold">
    <!-- TODO cabecera movil -->
    <li class="pr-3"><a class="text-white cursor-pointer">Home</a></li>
    <li class="pr-3"><a class="text-white cursor-pointer">About</a></li>
    <li><a class="text-white cursor-pointer">Portofolio</a></li>
  </ul>
  <a
    href="mailto:raquelcabanyes@hotmail.com"
    class="hidden lg:block bg-quaternary rounded-2xl py-3 px-6 font-semibold">
    <fa-icon fa-icon [icon]="faPhone" class="mr-3"></fa-icon>
    <span>Contacto</span>
  </a>
</header>
