<div class="w-full bg-primary px-4 py-24 flex justify-center items-center">
  <div class="w-[755px] p-4 flex flex-col justify-center">
    <div class="relative inline-block m-auto text-center mb-24">
      <div class="relative text-6xl font-semibold text-white">Experiencia</div>
      <div
        class="title-bar relative top-2.5 left-2.5 h-[5px] rounded-lg bg-tertiary before:absolute before:w-[40%] before:left-[30%] before:h-full before:rounded-lg before:bg-quaternary"></div>
    </div>

    @for (experience of experienceList; track experience) {
      <app-experience-item
        [title]="experience.title"
        [dates]="experience.dates"
        [description]="experience.description"></app-experience-item>
    }
  </div>
</div>
