<div class="flex flex-col px-6 md:px-11 pb-6 md:pb-11 pt-2 md:pt-6">
    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">Impulsyn</div>
        <div class="text-sm">Mayo 2024 - Actualmente</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        <div>
          Red profesional de empleos relacionados con el deporte. Desarrollo en la gestión de una comunidad potenciando el contacto de calidad en relaciones profesionales. Realizado con Angular 14 e Ionic 6.
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">Seidor</div>
        <div class="text-sm">Marzo 2024 - Mayo 2024</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Actualización tecnológica de app hibrida de Ionic 3 y Angular 6 a Ionic 6 y angular 12. Modificación y migración de la estructura del proyecto y actualización de componentes.
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">Impulsyn</div>
        <div class="text-sm">Diciembre 2023 - Abril 2024</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Red social del mundo del deporte. Desarrollo en la gestión de una comunidad potenciando el contacto de calidad en relaciones profesionales, como con la creación de carruseles con SwiperJS.
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">Yeeply</div>
        <div class="text-sm">Agosto 2023 - Noviembre 2024</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Proyecto web con Angular 12 y PrimeNg. Modificación, desarrollo e implementación de componentes y graficas con chartJS.
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">Impulsyn</div>
        <div class="text-sm">Febrero 2023 - Julio 2024</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Proyecto web con Angular Universal (Angular 14) y arquitectura en AWS. App híbrida publicada en Apple Store y Play Store desarrollada en Ionic 5 y Angular 10 con arquitectura backend en AWS. Servicios GraphQL y base de datos de grafos con tecnología Neptune (AWS). Notificaciones con OneSignal. Envío automático de emails con SES, tratamiento, optimización y almacenamiento de vídeos e imágenes en la nube con herramientas propias de AWS.
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white pb-12">
      <div class="experiencia relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">BBVA</div>
        <div class="text-sm">Julio 2018 - Enero 2021</div>
      </div>
      <div class="responsibilities relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Desarrollador de Frontend realizando componentes en proyecto Agent para BBVA Empresas, para la visualización de movimientos de empresasrelacionados con prestamos. Las tecnologías utilizadas son Polymer (cells), HTML5, CSS3, Javascript ES6, GIT para el control de versiones.
        Maquetación, modificación y creación de componentes primeramente con Polymer y posteriormente con Lit-Element implementándolo en distintos proyectos.
        Mantenimiento de estudios realizados con Google Analytics y la implementación de Adobe analytics, modificando estudios existentes y realizando nuevos estudios.
        Analítica web mediante la realización de software para la extracción de información concreta para determinar el comportamiento y uso de los clientes dentro de las distintas operativas web.
        Tecnologías utilizadas:
        React, Vue, Ionic, Cordova, Capacitor, AWS, Polymer, LitElement, Google Analytics y Adobe analytics.
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center text-white">
      <div class="experiencia first-experience relative pl-8 w-full md:w-1/5">
        <div class="text-xl text-quaternary">MYMOID</div>
        <div class="text-sm">Marzo 2018 - Junio 2018</div>
      </div>
      <div class="responsibilities first-experience relative pl-8 md:pl-4 pt-4 md:pt-0 w-full md:w-3/5">
        Maquetación, modificación y creación de componentes ReactJS, para desarrollo web de una pasarela de pagos.
      </div>
    </div>
</div>
