<div class="flex justify-between px-6 md:px-11 pb-6 md:pb-11 pt-2 md:pt-6">
  <img
    class="w-full md:w-1/2 hidden md:block mr-3 rounded-xl h-auto object-cover object-right"
    src="/assets/photo.jpg"
    alt="Home" />

  <div class="w-full md:w-1/2 flex flex-col ml-0 md:ml-3">
    <div class="text-white">
      <p>Soy una apasionada de la creatividad y el diseño. Desde pequeña, he sentido un fuerte vínculo con el arte, la estética y el diseño, lo que me llevó a estudiar Arquitectura de Interiores en la Universidad Politécnica, donde me gradué en 2008. Con el tiempo, he descubierto que mi curiosidad por la tecnología me motivó a aventurarme en un nuevo camino, así que decidí estudiar Desarrollo de Aplicaciones Web, completando mis estudios en 2018.</p>
      <p class="pt-4">Resido en Madrid, una ciudad llena de vida que siempre me inspira. Me encanta pasear por sus calles llenas de historia, disfrutar de su variada  gastronomía y sumergirme en su cultura diversa. En mi tiempo libre, disfruto de actividades como la fotografía, lectura y visitar nuevos lugares.</p>
      <p class="pt-4">Creo firmemente en la importancia del aprendizaje constante y disfruto compartir ideas e inspiraciones con los demás. Estoy entusiasmada por las oportunidades que el futuro tiene para ofrecer y siempre estoy abierta a nuevas experiencias.</p>
    </div>
  </div>
</div>
