<div class="flex justify-between px-6 pb-6 pt-0">
  <img class="w-full md:w-1/2 hidden md:block mr-3 rounded-xl h-auto object-cover" src="/assets/image.jpg" alt="Home"/> <!-- TODO change image -->
  <div class="w-full md:w-1/2 flex flex-col ml-0 md:ml-3">
    <h1 class="hidden md:block text-xl text-white font-semibold">Raquel Cabanyes</h1>
    <p class="mt-3 text-xs text-white">
      Frontend Developer
    </p>
    <p class="mt-3 text-white">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate rhoncus elit, sit amet semper sem accumsan vitae. Nunc ac sem maximus, bibendum odio sed, eleifend mi. Aenean nec nisi ac libero placerat interdum. Nulla molestie placerat mi, quis ornare leo ultrices sit amet. Nunc semper, nulla vel efficitur scelerisque, tortor justo venenatis mauris, sed molestie mauris est quis lorem. Cras sagittis erat sed risus posuere tempor. Praesent sit amet elit ac enim molestie ullamcorper. Duis nec finibus odio. Nulla sit amet lacus malesuada, vehicula elit ut, fringilla sem. Quisque rutrum iaculis ante, in pharetra nisi luctus placerat. In semper ac sapien at tristique.
    </p>
  </div>
</div>
