/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #023047;
  --color-secondary: #8ecae6;
  --color-tertiary: #218083;
  --color-quaternary: #fb8500;
  --color-quinquenary: #e1e1e6;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  border-radius: 10px;
}

.gradient-primary-to-quinquenary {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    #888e9f,
    #a6a9b6,
    #c4c4ce,
    var(--color-quinquenary)
  );
}

.gradient-quinquenary-to-primary {
  background-image: linear-gradient(
    to top,
    var(--color-primary),
    #888e9f,
    #a6a9b6,
    #c4c4ce,
    var(--color-quinquenary)
  );
}

/* Title bar */
.title-bar {
  width: calc(100% - 20px);
}

.title-bar::before {
  content: '';
}
