/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #342866;
  --color-secondary: #7c5ddf;
  --color-tertiary: #00a1a3;
  --color-quaternary: #ffa600;
}
